
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="robots" content="noindex">

    <title>Happy Clients slider - Bootsnipp.com</title>
   <meta name="viewport" content="width=device-width, initial-scale=1">
   
    <link href="http://netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    
	<style type="text/css">
    .logo
{
  filter: gray; /* IE6-9 */
  -webkit-filter: grayscale(1); /* Google Chrome, Safari 6+ & Opera 15+ */
   -webkit-transition: all .5s ease;
  -moz-transition: all .5s ease;
  -o-transition: all .5s ease;
  -ms-transition: all .5s ease;
  transition: all .5s ease;
  cursor:pointer;
}


.logo:hover
{
  filter: none; /* IE6-9 */
  -webkit-filter: grayscale(0); /* Google Chrome, Safari 6+ & Opera 15+ */
}
    </style>

	<script src="http://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="http://netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"></script>
    <script type="text/javascript">
        window.alert = function(){};
        var defaultCSS = document.getElementById('bootstrap-css');
        function changeCSS(css){
            if(css) $('head > link').filter(':first').replaceWith('<link rel="stylesheet" href="'+ css +'" type="text/css" />'); 
            else $('head > link').filter(':first').replaceWith(defaultCSS); 
        }
        $( document ).ready(function() {
          var iframe_height = parseInt($('html').height()); 
          window.parent.postMessage( iframe_height, 'http:http://bootsnipp.com');
        });
    </script>
</head>
<body>
	<legend align="center">Our Happy Client's</legend>
<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
  <!-- Wrapper for slides -->
  <div class="carousel-inner">
  
    <div class="item active container">
        <img class="col-md-2 col-sm-2 col-xs-2 logo img-responsive" src="https:http://fbcdn-profile-a.akamaihd.net/hprofile-ak-prn1/t1/p160x160/1010549_378823185552943_1788436797_n.png" alt="...">
        <img class="col-md-2 col-sm-2 col-xs-2 logo img-responsive" src="https:http://fbcdn-profile-a.akamaihd.net/hprofile-ak-prn1/t1/p160x160/1010549_378823185552943_1788436797_n.png" alt="...">
        <img class="col-md-2 col-sm-2 col-xs-2 logo img-responsive" src="https:http://fbcdn-profile-a.akamaihd.net/hprofile-ak-prn1/t1/p160x160/1010549_378823185552943_1788436797_n.png" alt="...">
        <img class="col-md-2 col-sm-2 col-xs-2 logo img-responsive" src="https:http://fbcdn-profile-a.akamaihd.net/hprofile-ak-prn1/t1/p160x160/1010549_378823185552943_1788436797_n.png" alt="...">
        <img class="col-md-2 col-sm-2 col-xs-2 logo img-responsive" src="https:http://fbcdn-profile-a.akamaihd.net/hprofile-ak-prn1/t1/p160x160/1010549_378823185552943_1788436797_n.png" alt="...">
        <img class="col-md-2 col-sm-2 col-xs-2 logo img-responsive" src="https:http://fbcdn-profile-a.akamaihd.net/hprofile-ak-prn1/t1/p160x160/1010549_378823185552943_1788436797_n.png" alt="...">
    </div>
    
    <div class="item container">
        <img class="col-md-2 col-sm-2 col-xs-2 logo img-responsive" src="https:http://fbcdn-profile-a.akamaihd.net/hprofile-ak-prn1/t1/p160x160/1010549_378823185552943_1788436797_n.png" alt="...">
        <img class="col-md-2 col-sm-2 col-xs-2 logo img-responsive" src="https:http://fbcdn-profile-a.akamaihd.net/hprofile-ak-prn1/t1/p160x160/1010549_378823185552943_1788436797_n.png" alt="...">
        <img class="col-md-2 col-sm-2 col-xs-2 logo img-responsive" src="https:http://fbcdn-profile-a.akamaihd.net/hprofile-ak-prn1/t1/p160x160/1010549_378823185552943_1788436797_n.png" alt="...">
        <img class="col-md-2 col-sm-2 col-xs-2 logo img-responsive" src="https:http://fbcdn-profile-a.akamaihd.net/hprofile-ak-prn1/t1/p160x160/1010549_378823185552943_1788436797_n.png" alt="...">
        <img class="col-md-2 col-sm-2 col-xs-2 logo img-responsive" src="https:http://fbcdn-profile-a.akamaihd.net/hprofile-ak-prn1/t1/p160x160/1010549_378823185552943_1788436797_n.png" alt="...">
        <img class="col-md-2 col-sm-2 col-xs-2 logo img-responsive" src="https:http://fbcdn-profile-a.akamaihd.net/hprofile-ak-prn1/t1/p160x160/1010549_378823185552943_1788436797_n.png" alt="...">
      </div>
    
    <div class="item container">
        <img class="col-md-2 col-sm-2 col-xs-2 logo img-responsive" src="https:http://fbcdn-profile-a.akamaihd.net/hprofile-ak-prn1/t1/p160x160/1010549_378823185552943_1788436797_n.png" alt="...">
        <img class="col-md-2 col-sm-2 col-xs-2 logo img-responsive" src="https:http://fbcdn-profile-a.akamaihd.net/hprofile-ak-prn1/t1/p160x160/1010549_378823185552943_1788436797_n.png" alt="...">
        <img class="col-md-2 col-sm-2 col-xs-2 logo img-responsive" src="https:http://fbcdn-profile-a.akamaihd.net/hprofile-ak-prn1/t1/p160x160/1010549_378823185552943_1788436797_n.png" alt="...">
        <img class="col-md-2 col-sm-2 col-xs-2 logo img-responsive" src="https:http://fbcdn-profile-a.akamaihd.net/hprofile-ak-prn1/t1/p160x160/1010549_378823185552943_1788436797_n.png" alt="...">
        <img class="col-md-2 col-sm-2 col-xs-2 logo img-responsive" src="https:http://fbcdn-profile-a.akamaihd.net/hprofile-ak-prn1/t1/p160x160/1010549_378823185552943_1788436797_n.png" alt="...">
        <img class="col-md-2 col-sm-2 col-xs-2 logo img-responsive" src="https:http://fbcdn-profile-a.akamaihd.net/hprofile-ak-prn1/t1/p160x160/1010549_378823185552943_1788436797_n.png" alt="...">
     </div>
    
  </div>

    <div align="center" style="margin-top:20px;">
    <!-- Controls -->
          <a class="left" href="#carousel-example-generic" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left"></span>
          </a>
          <a class="right" href="#carousel-example-generic" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right"></span>
          </a>
    </div>
  
</div>
	<script type="text/javascript">
	$('.carousel').carousel()
	</script>
</body>
</html>
